In [1]:
import pickle
with open('../Data/allplayerGameLogs.pickle', 'rb') as handle:
  allplayerGameLogs = pickle.load(handle)

In [5]:
import pandas as pd

In [2]:
allplayerGameLogs.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22015,203112,0021500889,"FEB 29, 2016",SAC vs. OKC,L,28,5,9,0.556,...,0,4,2,3,0,0,3,10,-16,1
1,22015,203112,0021500867,"FEB 26, 2016",SAC vs. LAC,L,15,1,1,1.000,...,0,0,0,0,1,0,3,4,-12,1
2,22015,203112,0021500854,"FEB 24, 2016",SAC vs. SAS,L,23,6,9,0.667,...,2,2,0,2,0,1,4,15,13,1
3,22015,203112,0021500842,"FEB 23, 2016",SAC @ DEN,W,13,0,2,0.000,...,3,3,0,0,3,0,1,0,-1,1
4,22015,203112,0021500816,"FEB 19, 2016",SAC vs. DEN,W,15,0,0,0.000,...,3,3,0,0,0,1,1,0,2,1

In [4]:
allplayerGameLogs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18964 entries, 0 to 42
Data columns (total 27 columns):
SEASON_ID          18964 non-null object
Player_ID          18964 non-null float64
Game_ID            18964 non-null object
GAME_DATE          18964 non-null object
MATCHUP            18964 non-null object
WL                 18964 non-null object
MIN                18964 non-null float64
FGM                18964 non-null float64
FGA                18964 non-null float64
FG_PCT             18964 non-null float64
FG3M               18964 non-null float64
FG3A               18964 non-null float64
FG3_PCT            18964 non-null float64
FTM                18964 non-null float64
FTA                18964 non-null float64
FT_PCT             18964 non-null float64
OREB               18964 non-null float64
DREB               18964 non-null float64
REB                18964 non-null float64
AST                18964 non-null float64
STL                18964 non-null float64
BLK                18964 non-null float64
TOV                18964 non-null float64
PF                 18964 non-null float64
PTS                18964 non-null float64
PLUS_MINUS         18964 non-null float64
VIDEO_AVAILABLE    18964 non-null float64
dtypes: float64(22), object(5)
memory usage: 4.1+ MB

Modify the datetime

In [7]:
allplayerGameLogs['GAME_DATE'] = pd.to_datetime(allplayerGameLogs['GAME_DATE'])

In [8]:
allplayerGameLogs['GAME_DATE'].head()

0   2016-02-29
1   2016-02-26
2   2016-02-24
3   2016-02-23
4   2016-02-19
Name: GAME_DATE, dtype: datetime64[ns]

In [9]:
del allplayerGameLogs['VIDEO_AVAILABLE']

In [10]:
allplayerGameLogs.columns

Index([u'SEASON_ID', u'Player_ID', u'Game_ID', u'GAME_DATE', u'MATCHUP', u'WL',
       u'MIN', u'FGM', u'FGA', u'FG_PCT', u'FG3M', u'FG3A', u'FG3_PCT', u'FTM',
       u'FTA', u'FT_PCT', u'OREB', u'DREB', u'REB', u'AST', u'STL', u'BLK',
       u'TOV', u'PF', u'PTS', u'PLUS_MINUS'],
      dtype='object')

Add columns to indicate whether the player has double-double or triple-double.

In [69]:
dd = ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['AST']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['REB']>=10))| \
     ((allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10))| \
     ((allplayerGameLogs['REB']>=10) & (allplayerGameLogs['BLK']>=10))| \
     ((allplayerGameLogs['STL']>=10) & (allplayerGameLogs['BLK']>=10))| \
     ((allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['BLK']>=10))

In [70]:
sum(dd)

1517

In [71]:
allplayerGameLogs['DouBL']= dd

In [74]:
ttt = (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['BLK']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['BLK']>=10) & (allplayerGameLogs['REB']>=10)| \
      (allplayerGameLogs['PTS']>=10) & (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['AST']>=10)| \
      (allplayerGameLogs['STL']>=10) & (allplayerGameLogs['AST']>=10) & (allplayerGameLogs['REB']>=10)

In [75]:
sum(ttt)

47

In [76]:
allplayerGameLogs['TriBL']= ttt

calculate the fantasy point for a player to add a column in the data frame

In [93]:
allplayerGameLogs['FanPTs'] = 3.5 * allplayerGameLogs['FG3M'] + 1*allplayerGameLogs['FTM'] \
+ 2*(allplayerGameLogs['FGM']-allplayerGameLogs['FG3M']) \
+ 1.25*allplayerGameLogs['REB']+1.5*allplayerGameLogs['AST'] \
+ 2*allplayerGameLogs['STL']+ 2*allplayerGameLogs['BLK'] \
+ 1.5*allplayerGameLogs['DouBL'] + 3*allplayerGameLogs['TriBL'] \
- 0.5*allplayerGameLogs['TOV']

Test case to verify

In [96]:
davis = allplayerGameLogs[allplayerGameLogs['Player_ID']==203076]

In [97]:
davis[['GAME_DATE','MATCHUP','PTS','AST','REB','BLK','STL','TOV','DouBL','TriBL','FanPTs']]

    GAME_DATE      MATCHUP  PTS  AST  REB  BLK  STL  TOV  DouBL  TriBL  FanPTs
0  2016-02-25  NOP vs. OKC   30    2    6    4    1    2  False  False   50.50
1  2016-02-23    NOP @ WAS    9    3   20    1    2    3  False  False   43.00
2  2016-02-21    NOP @ DET   59    4   20    1    0    2   True  False   93.50
3  2016-02-19  NOP vs. PHI   34    1    7    2    2    2  False  False   51.25
4  2016-02-11    NOP @ OKC   23    2    3    0    2    1  False  False   33.25
5  2016-02-10  NOP vs. UTA   19    5    4    1    0    0  False  False   34.00
6  2016-02-08    NOP @ MIN   27    1    8    0    2    0  False  False   43.00
7  2016-02-06    NOP @ CLE   24    0   11    2    0    2   True  False   42.25
8  2016-02-04  NOP vs. LAL   39    0   11    1    1    1   True  False   57.75
9  2016-02-03    NOP @ SAS   28    4   10    4    4    4   True  False   62.00
10 2016-02-01  NOP vs. MEM   23    3    9    1    1    1  False  False   42.75
11 2016-01-30  NOP vs. BKN   20    3   16    2    0    1   True  False   50.00
12 2016-01-25  NOP vs. HOU    9    1    6    0    2    4  False  False   20.00
13 2016-01-23  NOP vs. MIL   22    5    7    4    1    1  False  False   48.25
14 2016-01-21  NOP vs. DET   32    2    7    2    1    2  False  False   49.25
15 2016-01-19  NOP vs. MIN   35    0    7    2    0    0  False  False   48.25
16 2016-01-18    NOP @ MEM   21    2    8    3    3    3  False  False   44.50
17 2016-01-15  NOP vs. CHA   22    4    5    2    1    1  False  False   39.75
18 2016-01-13    NOP @ SAC   24    3   10    0    2    0   True  False   47.00
19 2016-01-08  NOP vs. IND    2    1    1    0    0    1  False  False    4.25
20 2016-01-06  NOP vs. DAL   26    7   11    3    2    3   True  False   60.25
21 2016-01-02    NOP @ DAL   31    0   14    1    1    4   True  False   52.00
22 2015-12-31  NOP vs. LAC   14    1   15    2    0    1   True  False   39.25
23 2015-12-28    NOP @ ORL   20    1    8    1    2    2  False  False   36.50
24 2015-12-26  NOP vs. HOU   24    2   13    3    0    4   True  False   49.25
25 2015-12-25    NOP @ MIA   29    4   15    3    4    4   True  False   67.75
26 2015-12-23  NOP vs. POR   28    1   12    3    1    2   True  False   53.00
27 2015-12-20    NOP @ DEN   27    1    6    4    0    1  False  False   43.50
28 2015-12-18    NOP @ PHX   16    2   12    3    2    4   True  False   43.50
29 2015-12-16    NOP @ UTA   17    0   13    1    0    0   True  False   36.75
30 2015-12-14    NOP @ POR   28    1   10    5    0    2   True  False   52.50
31 2015-12-12    NOP @ CHI   22    2   13    4    1    4   True  False   50.75
32 2015-12-11  NOP vs. WAS   18    2   11    0    1    2   True  False   37.75
33 2015-12-07  NOP vs. BOS   16    0    6    3    2    0  False  False   33.50
34 2015-12-04  NOP vs. CLE   31    1   12    1    4    1   True  False   59.50
35 2015-12-02    NOP @ HOU   29    1   13    2    2    2   True  False   55.75
36 2015-12-01  NOP vs. MEM   17    2   14    9    2    1   True  False   61.00
37 2015-11-28    NOP @ UTA   36    1   11    3    2    2   True  False   61.75
38 2015-11-27    NOP @ LAC   17    0    6    0    0    3  False  False   23.00
39 2015-11-25    NOP @ PHX   26    0   17    2    2    4   True  False   54.75
40 2015-11-22  NOP vs. PHX   32    1   19    4    2    3   True  False   69.75
41 2015-11-20  NOP vs. SAS   20    3   18    2    0    1   True  False   52.00
42 2015-11-17  NOP vs. DEN    0    1    2    0    0    0  False  False    4.00
43 2015-11-15    NOP @ NYK   36    1   11    4    1    4   True  False   61.75
44 2015-11-10  NOP vs. DAL   17    2    7    1    1    1  False  False   32.25
45 2015-11-07    NOP @ DAL   25    4    6    2    1    4  False  False   42.50
46 2015-11-06  NOP vs. ATL   43    3   10    3    4    1   True  False   75.50
47 2015-11-03  NOP vs. ORL   14    1    9    5    1    2  False  False   37.75
48 2015-10-31  NOP vs. GSW   26    4   15    2    0    3   True  False   55.25
49 2015-10-28    NOP @ POR   25    0   10    2    2    2   True  False   47.50
50 2015-10-27    NOP @ GSW   18    2    6    3    0    5  False  False   32.00

Already checked.. it does match the official record from my playing history.

In [98]:
with open('../Data/allplayerFantasyGameLogs.pickle', 'wb') as handle:
  pickle.dump(allplayerGameLogs,handle)

In [ ]:
# function to aggregate statistics for each player given a game date

In [ ]:
# function to generate feature tables, namely training and testing data sets given a game date, where training data set contains all 
# information before the predefined game date

In [ ]:
# function to generate a score(PTS) leader board given a game date

In [ ]:
# function to generate a rebound(REB) leader board given a game date

In [ ]:
# function to generate a rebound(FG3_PCT) leader board given a game date

In [ ]:
# function to generate a assist(AST) leader board given a game date

In [ ]:
# function to generate a block(BLK) leader board given a game date

In [ ]:
# function to generate a turnover(TOV) leader board given a game date

In [ ]:
# function to generate a efficiency(PLUS_MINUS) leader board given a game date

In [ ]:
# function to identify the favorable matchup given a player by a game date